/* http://angular-ui.github.io/bootstrap/#/modal */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/* app css stylesheet */
.vertical-margins {
    margin-top: 25px;
    margin-bottom: 20px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 300px;
    height: 300px;
}
