<div class="modal fade" id="description" tabindex="-1" role="dialog" aria-labelledby="Description" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About Hakase</h4>
      </div>
      <div class="modal-body">
        This site supports latest browsers, especially not Internet Explore 8 or older.
        <a href="https://en.wikipedia.org/wiki/Dale%E2%80%93Chall_readability_formula">Dale–Chall readability formula - Wikipedia, the free encyclopedia</a>
      </div>
    </div>
  </div>
</div>
